// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_silhouette {
  margin: 15px;
  width: 50%;
}

.profile_contact {
  margin: 10px;
  width: 25%;
}

.profile_check {
  margin: 10px;
  width: 25%;
}
