<div class="row ">
  <div class="col-xs-12 .col-md-8">
    <h1 class="title">Nouvelle activité</h1>
  </div>
</div>

<%= render 'form' %>


<div class="row ">
       <div class="col-xs-6 col-sm-4 text-center">
          <%= link_to "Retour", activities_path, :class => "btn btn-default btn-md" %>
       </div>
</div>