<html>

  <body>

    <!-- DEBUT LIGNE SILHOUETTE PERSONNE -->
    <div class="row">
      <div class="col-xs-12 col-sm-12">
          <%= image_tag 'profile_silhouette.png',  class: "img-responsive profile_silhouette center-block" %>
      </div>
    </div>
    <!-- FIN LIGNE SILHOUETTE PERSONNE -->

    <!-- DEBUT LIGNE DESCRIPTION PERSONNE -->
    <div class="row">
      <div class="col-xs-12 col-sm-12"></div>
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <!-- FIN LIGNE DESCRIPTION PERSONNE -->

    <!-- DEBUT LIGNE NUMERO PERSONNE -->
    <div class="row">
      <div class="col-xs-2 col-sm-2"></div>
          <%= image_tag 'profile_telephone.svg',  class: "img-responsive profile_contact center-block" %>
      <div class="col-xs-8 col-sm-8"></div>
      <div class="col-xs-2 col-sm-2"></div>
          <%= image_tag 'profile_check.svg',  class: "img-responsive profile_check center-block" %>
    </div>
    <!-- FIN LIGNE NUMERO PERSONNE -->

  </body>

</html>